<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web_1="http://java.sun.com/xml/ns/javaee" xmlns:web_2="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MFRP</display-name>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>JSP Files</web-resource-name>
      <description>No direct access to JSP files</description>
      <url-pattern>/jsps/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>No direct browser access to JSP files</description>
      <role-name>NobodyHasThisRole</role-name>
    </auth-constraint>
  </security-constraint>
  <welcome-file-list>
    <welcome-file>login</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.mms.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.mms.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
    <url-pattern>/branchAdmin/logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.mms.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.mms.filters.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>BranchAdminFilter</display-name>
    <filter-name>BranchAdminFilter</filter-name>
    <filter-class>com.mms.filters.BranchAdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BranchAdminFilter</filter-name>
    <url-pattern>/branchAdmin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>JspRequestFilter</filter-name>
    <filter-class>com.mms.filters.JspRequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>JspRequestFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomeController</display-name>
    <servlet-name>AdminHomeController</servlet-name>
    <servlet-class>com.mms.controller.AdminHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomeController</servlet-name>
    <url-pattern>/admin/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchAdminRegistration</display-name>
    <servlet-name>BranchAdminRegistration</servlet-name>
    <servlet-class>com.mms.controller.BranchAdminRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchAdminRegistration</servlet-name>
    <url-pattern>/admin/registerBranchAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicineRegisterController</display-name>
    <servlet-name>MedicineRegisterController</servlet-name>
    <servlet-class>com.mms.controller.MedicineRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicineRegisterController</servlet-name>
    <url-pattern>/admin/registerMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchAdminHomeController</display-name>
    <servlet-name>BranchAdminHomeController</servlet-name>
    <servlet-class>com.mms.controller.BranchAdminHomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchAdminHomeController</servlet-name>
    <url-pattern>/branchAdmin/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockRegisterController</display-name>
    <servlet-name>StockRegisterController</servlet-name>
    <servlet-class>com.mms.controller.StockRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockRegisterController</servlet-name>
    <url-pattern>/branchAdmin/registerStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicineRequestController</display-name>
    <servlet-name>MedicineRequestController</servlet-name>
    <servlet-class>com.mms.controller.MedicineRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicineRequestController</servlet-name>
    <url-pattern>/branchAdmin/requestMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicineCancleRequestController</display-name>
    <servlet-name>MedicineCancleRequestController</servlet-name>
    <servlet-class>com.mms.controller.MedicineCancleRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicineCancleRequestController</servlet-name>
    <url-pattern>/branchAdmin/cancelRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggerInitializer</display-name>
    <servlet-name>LoggerInitializer</servlet-name>
    <servlet-class>com.mms.log.LoggerInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerInitializer</servlet-name>
    <url-pattern>/LoggerInitializer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMedicineController</display-name>
    <servlet-name>SearchMedicineController</servlet-name>
    <servlet-class>com.mms.controller.SearchMedicineController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMedicineController</servlet-name>
    <url-pattern>/branchAdmin/SearchMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchAdminAllRequestController</display-name>
    <servlet-name>BranchAdminAllRequestController</servlet-name>
    <servlet-class>com.mms.controller.BranchAdminAllRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchAdminAllRequestController</servlet-name>
    <url-pattern>/branchAdmin/allRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockController</display-name>
    <servlet-name>StockController</servlet-name>
    <servlet-class>com.mms.controller.StockController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockController</servlet-name>
    <url-pattern>/branchAdmin/stockDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllBranchAdminController</display-name>
    <servlet-name>AllBranchAdminController</servlet-name>
    <servlet-class>com.mms.controller.AllBranchAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllBranchAdminController</servlet-name>
    <url-pattern>/AllBranchAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewController</display-name>
    <servlet-name>ReviewController</servlet-name>
    <servlet-class>com.mms.controller.ReviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewController</servlet-name>
    <url-pattern>/admin/reviewRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestFetchController</display-name>
    <servlet-name>RequestFetchController</servlet-name>
    <servlet-class>com.mms.controller.RequestFetchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestFetchController</servlet-name>
    <url-pattern>/admin/FetchRequests</url-pattern>
  </servlet-mapping>
</web-app>